#menu {
  width: 300px;
  background: $grayColor;
  color: #fff;
  ul {
    padding-top: 30px;
    li {
      cursor: pointer;
      padding: 10px 20px;
      span {
        padding-left: 10px;
      }
      &:hover,
      &.active {
        color: $blueColor;
        background-color: $grayHoverColor;
      }
    }
  }
}
